footer.Footer
    section._delivery.-vertical-space
        .container
            .row
                .col-xs-24.col-md-12.col-lg-10
                    h4 DE NUESTRA GRANJA DIRECTO A TU CASA
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .col-xs-24.col-sm-12.col-md-7.col-lg-8._truck
                    img.img-responsive(src="../images/truck.png")
                .col-xs-24.col-sm-12.col-md-5.col-lg-6._map
                    h5 Zona de Cobertura
                    a(href="#")
                        img.img-responsive(src="../images/map.png")
                        | Ampliar mapa
    section._data.-vertical-space
        .container
            .row
                .col-xs-24.col-sm-6._logo
                    | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
                .col-xs-24.col-sm-10
                    h5 Contacto
                    p._mail
                        i.fa.fa-envelope  
                        span  info@loshermanos.com.ar
                    p._phone
                        i.fa.fa-phone  
                        span  (011) 1234-5678
                .col-xs-24.col-sm-3.pull-right
                    img(src="../images/data-fiscal.png")
            
    section._copy.-vertical-space
        .container
            .row
                .col-xs-24.col-sm-12
                    p
                        | &copy;
                        | - 
                        | Todos los derechos reservados
                        
                .col-xs-24.col-sm-12
                    a(href="http://creatos.com.ar")
                        img(src="../images/creatos.png")
        
    
