._form{
    input,
    textarea,
    select{
        outline:none;
        background: $lightGray;
        border-radius:0;
        border: none;
        font-size: 14px;
        font-weight: 400;
        padding: $base/4;
        color:$darkGray;
        margin-bottom: $base/2;
        transition: all $duration $easing;
        width: 100%;

        &:focus {
            background: $yellow;
        }

        &[readonly] {
            background: $bg;
        }
    }

    label{
        color:$darkGray;
        display: block;
        font-size: 18px;
        font-weight: 400;
        clear: both;

        &.-small{
            font-size: 14px;
            padding-left: $base/4;
        }
    }

    ::placeholder{
        opacity:.7;
    }

    ._form-group{
        margin-bottom: $base/2;
    }

    ._submit{
        color:#fff;
        background: $link;
        width: 300px;
        transition: all .3s ease;

        &:hover{
            background: $linkHover;
        }
    }


    input[type="radio"] {
        display:none;
    }

    input[type="radio"] + label {
        border:3px solid rgba(255,255,255,0);
        transition: border $duration $easing;
    }

    input[type="radio"]:checked + label {
        border:3px solid $green;
    }
}
