._calculator {
    padding: $base/4 0;
    display: flex;

    input {
        width:auto;
        border:none;
        font-family: $altFont;
    }

    ._controls{
        display: flex;

        input {
            float: left;
            width:24px;
            text-align: center;
            line-height: 24px;
            height: 24px;
            font-size: 21px;
        }
    }

    ._total {
        display: flex;
        padding-left: $base/4;
        text-align: right;
        justify-content: space-between;
        flex-grow: 1;

        span {
            font-size: 11px;
            line-height: 24px;
            white-space: nowrap;
        }

        input {
            text-align: right;
            line-height: 24px;
            height: 24px;
            font-size: 18px;
            color:$midGray;
            max-width: 70px;
            position: relative;

            @include breakpoint(md){
                max-width: 50px;
                font-size: 16px;
                letter-spacing: -0.5px;
            }

            @include breakpoint(lg){
                max-width: 70px;
                font-size: 18px;
                letter-spacing: 0px;
            }

            &:before{
                content: '$';
                display: inline-block;
                background: red;
                width:20px;
                height:20px;
                position: absolute;
                left:0;
                z-index: 5;
            }
        }
    }

    a {
        width: 24px;
        height: 24px;
        position: relative;
        background: $bgSecondary;
        display: block;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width:16px;
            left:4px;
            top:calc(50% - 1px);
            height: 2px;
            background: $green;
        }

        &:after {
            transform: rotate(-90deg);
        }

        &._minus {
            &:after {
                display: none;
            }
        }
    }
}// calculator styles
