extends ../_layouts/base

include ../_modules/product/product
include ../_modules/shopcart/shopcart

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.Productos
        .container.-vertical-space
            .row
                .col-xs-24
                    h1._title= site.data.productos.title
                .col-xs-24.-vertical-space
                    .row
                        .col-xs-24.col-md-17
                            ul.row._product-list
                                each item in site.data.productos.list
                                    li.col-xs-24.col-sm-12.col-md-8._item
                                        +product(item)                                            
                                    
                        .col-xs-24.col-md-7
                            +shopcart(null)
