._product {
    ._desc-trigger{
        position: absolute;
        border-radius: 50%;
        background: $pink;
        width: 32px;
        height: 32px;
        border: 3px solid $lightGray;
        z-index: 5;
        left: 0;
        right: 0;
        margin: auto;
        top:calc(100vw - 48px);
        transition: all $duration $easing;
        cursor: pointer;

        @include breakpoint(sm){
            top:328px;
        }

        @include breakpoint(md){
            top:180px;
        }

        @include breakpoint(lg){
            top:228px;
        }

        span {
            position: absolute;
            display: block;
            left:0;
            right:0;
            bottom:0;
            top:0;
            margin: auto;
            background: $white;

            &:first-child {
                width:16px;
                height: 2px;
            }

            &:last-child {
                height:16px;
                width: 2px;
            }
        }
    }

    ._img {
        position: relative;
        overflow: hidden;
        height: 0;
        width: 100%;
        padding-bottom: 100%;
        border: 3px solid $lightGray;

        ._caption {
            padding: $base/4;
            background: $bgSecondary;
            position: absolute;
            bottom:0;
            transform: translateY(100%);
            transition: all $duration $easing;

            p {
                margin: 0;
            }

            &.-open{
                transform: translateY(0);
            }
        }

        img{
            position: absolute;
            top:0;
            height: 100%;
            left:50%;
            transform: translateX(-50%);
            z-index:0;
        }
    }

    ._info {
        padding: $base/4 0;
        border-bottom: 1px solid $lightGray;

        ._name {
            font-size: 16px;
            margin: 0;
        }

        ._price {
            font-size: 18px;
            color: $link;
        }

        ._piece{
            font-size:12px;
        }
    }
}
